$darkpurple: #1b1432;
$mediumpurple: #553B8C;
$rgb_darkpurple: rgba(27, 20, 50, .6);
$rgb_mediumpurple: rgba(85, 59, 140, .6);
$white: #ffffff;
$darkgrey: #636566;
$midgrey: #95989A;
$lightgrey: #f6f6f6;

$main_font: 'Raleway', sans-serif; 

@mixin page_container($width, $margin_vertical){
    width: $width;
    margin: $margin_vertical (100 - $width) / 2;
}

@mixin main_font($size, $weight, $color:"") {
    color: $color;
    font: $weight $size $main_font;
    // font weights: 500, 600;
}

@mixin list_reset() {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@mixin background($url, $size, $position, $repeat, $color) {
    background: $url;
    -webkit-background: $url;
    -moz-background: $url;
    -o-background: $url;

    background-size: $size;
    -webkit-background-size: $size;
    -moz-background-size: $size;
    -o-background-size: $size;

    background-position: $position;
    -webkit-background-position: $position;
    -moz-background-position: $position;
    -o-background-position: $position;

    background-repeat: $repeat;
    -webkit-background-position: $position;
    -moz-background-position: $position;
    -o-background-position: $position;

    background-color: $color;
}

@mixin hover_trans($sec) {
    -webkit-transition: all $sec ease-in-out;
       -moz-transition: all $sec ease-in-out;
        -ms-transition: all $sec ease-in-out;
         -o-transition: all $sec ease-in-out;
            transition: all $sec ease-in-out;
}

@mixin border-radius($size) {
    border-radius: $size; /* the magic */
    -moz-border-radius: $size;
    -webkit-border-radius: $size;
}

@mixin box-shadow($color, $radius, $spread) {
    -webkit-box-shadow: 0px 0px $radius $spread $color;
    -moz-box-shadow: 0px 0px $radius $spread $color;
    box-shadow: 0px 0px $radius $spread $color;
}

@mixin button_style_inverted() {
    background-color: transparent;
    color: $white;
    border: 2px $white solid;
    border-radius: 25px;
    font-family: $main_font;
    white-space: nowrap;
    text-align: center;
    align-self: center;
    font-weight: 600;
    &:hover {
        @include hover_trans(0.25s);
        color: $white;
        border: 2px $white solid;
        background-color: $mediumpurple !important;
    }
}

@mixin button_style() {
    background-color: $mediumpurple;
    color: $white;
    border: 2px transparent solid;
    border-radius: 25px;
    font-family: $main_font;
    white-space: nowrap;
    text-align: center;
    align-self: center;
    font-weight: 600;
    &:hover {
        @include hover_trans(0.25s);
        color: $white;
        border: 2px $white solid;
        background-color: transparent;
    }
}

@mixin button_style_wwo() {
    background-color: transparent;
    color: $midgrey;
    border: 2px $midgrey solid;
    border-radius: 50px;
    white-space: nowrap;
    text-align: center;
    align-self: center;
    &:hover {
        @include hover_trans(0.25s);
        background-color: $white;
        color: $darkpurple;
        border: 2px $darkpurple solid;
        background-color: transparent;
    }
}

@mixin button_style_custom($bgColorBefore, $bgColorAfter, $colorBefore, $colorAfter, $borderBefore, $borderAfter) {
    background-color: $bgColorBefore;
    color: $colorBefore;
    border: $borderBefore; //2px $white solid
    border-radius: 50px;
    white-space: nowrap;
    text-align: center;
    align-self: center;
    @include hover_trans(0.25s);
    &:hover {
        @include hover_trans(0.25s);
        background-color: $bgColorAfter;
        color: $colorAfter;
        border: $borderAfter;
    }
}

//media query variables
@mixin page-cont-xx() { //default mobile site (less than 480px)
    @include page_container(90%, 0);
    // h2 = 24px
    // h3 = 18px
    // p = 12px
    // a = 14px
}
@mixin page-cont-xs() { //min width 480px
    @include page_container(85%, 0);
    // h2 = 24px
    // h3 = 18px
    // p = 12px
    // a = 14px
}

@mixin page-cont-sm() { // min width 600px
    @include page_container(80%, 0);
    // h2 = 24px
    // h3 = 18px
    // p = 12px
    // a = 14px
}

@mixin page-cont-md() { // min width 801px -> clicks over to desktop nav <-
    @include page_container(75%, 0);
    // h2 = 24px
    // h3 = 18px
    // p = 12px
    // a = 14px
}

@mixin page-cont-lg() { // min width 1024px
    @include page_container(70%, 0);
    // h2 = 26px
    // h3 = 20px
    // p = 14px
    // a = 16px
}

@mixin page-cont-xl() { // min width 1281px
    @include page_container(65%, 0);
}