@import "_variables.scss";

// About Page
.aboutContainer {
    background-color: $darkpurple;
    margin: 0;
    padding: 2% 0 1% 0;
    div {
        @include page-cont-xx();
        background-color: $white;
        display: block;
        div {
            width: 100%;
            height: auto;
            overflow: hidden;
            margin: 0;
            padding: 0;
            display: block;
            img {
                width: 100%;
                height: auto;
                margin: auto;
                // padding: 0;
                display: block;
            }
        }
        p {
            @include main_font(16px, 500, $darkgrey);
            padding: 3% 5%;
        }
    }
    
}
.aboutHeaderContainer {
    background-color: $darkpurple;
}
.meetTheTeamContainer {
    background-color: $darkpurple;
    padding: 0 0 5% 0;
    section {
        @include page-cont-xx();
        .meetTheTeamGridContainer { //whole grid container
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto;
            align-content: stretch;
            .teamMemberOne, .teamMemberTwo{ // one row
                background-color: $white;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: auto;
                align-content: stretch;
                margin: 0 0 5% 0;
                padding: 0;
                .teamMemberImg { // individual boxes
                    align-self: stretch;
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                    position: relative;
                    height: auto;
                    width: auto;
                    img {
                        width: 100%;
                        height: auto;
                        margin: 0 !important;
                        padding: 0;
                    }
                }
                .teamMemberInfo{
                    padding: 5% 5% 15% 5%;
                    display: block;
                    margin: auto;
                    h2 {
                        @include main_font(26px, 600, $darkgrey);
                        margin: 0 0 2% 0;
                    }
                    h3 {
                        @include main_font(20px, 500, $mediumpurple);
                        margin: 0 0 3% 0;
                    }
                    p {
                        @include main_font(14px, 500, $darkgrey);
                        margin: 0 0 3% 0;
                    }
                }
            }
        }
    }
}

@mixin aboutPage-sm() {
    .aboutContainer {
        div {
            @include page-cont-sm();
            div {
                width: 100%;
                height: 350px;
                overflow: hidden;
                margin: 0;
                padding: 0;
                display: block;
                img {
                    width: 100%;
                    height: auto;
                    margin: auto;
                    display: block;
                }
            }
            p {
                @include main_font(16px, 500, $darkgrey);
                padding: 3% 5%;
            }
        }
    }
    .meetTheTeamContainer {
        section {
            @include page-cont-sm();
            .meetTheTeamGridContainer { //whole grid container
                .teamMemberOne, .teamMemberTwo{ // one row
                    grid-template-columns: 50% 50%;
                    grid-template-rows: auto;
                    .teamMemberInfo{
                        padding: 5% 5% 15% 5%;
                        h2 {
                            @include main_font(24px, 600, $darkgrey);
                            margin: 0 0 2% 0;
                        }
                        h3 {
                            @include main_font(18px, 500, $mediumpurple);
                            margin: 0 0 3% 0;
                        }
                        p {
                            @include main_font(12px, 500, $darkgrey);
                            margin: 0 0 3% 0;
                        }
                    }
                }
            }
        }
    }
}
@mixin aboutPage-md() {
    .aboutContainer {
        div {
            @include page-cont-md();
            p {
                @include main_font(18px, 500, $darkgrey);
                padding: 3% 5%;
            }
        }
    }
    .meetTheTeamContainer {
        section {
            @include page-cont-md();
            .meetTheTeamGridContainer { //whole grid container
                .teamMemberOne, .teamMemberTwo{ // one row
                    grid-template-columns: 50% 50%;
                    grid-template-rows: auto;
                    .teamMemberInfo{
                        padding: 5% 5% 15% 5%;
                        h2 {
                            @include main_font(24px, 600, $darkgrey);
                            margin: 0 0 2% 0;
                        }
                        h3 {
                            @include main_font(18px, 500, $mediumpurple);
                            margin: 0 0 3% 0;
                        }
                        p {
                            @include main_font(14px, 500, $darkgrey);
                            margin: 0 0 3% 0;
                        }
                    }
                }
            }
        }
    }
}
@mixin aboutPage-lg() {
    .aboutContainer {
        div {
            @include page-cont-lg();
            p {
                @include main_font(18px, 500, $darkgrey);
                padding: 3% 5%;
            }
        }
    }
    .meetTheTeamContainer {
        section {
            @include page-cont-lg();
            .meetTheTeamGridContainer { //whole grid container
                .teamMemberOne, .teamMemberTwo{ // one row
                    grid-template-columns: 50% 50%;
                    grid-template-rows: auto;
                    .teamMemberInfo{
                        padding: 5% 5% 15% 5%;
                        h2 {
                            @include main_font(28px, 600, $darkgrey);
                            margin: 0 0 2% 0;
                        }
                        h3 {
                            @include main_font(22px, 500, $mediumpurple);
                            margin: 0 0 3% 0;
                        }
                        p {
                            @include main_font(18px, 500, $darkgrey);
                            margin: 0 0 3% 0;
                        }
                    }
                }
            }
        }
    }
}
@mixin aboutPage-xl() {
    .aboutContainer {
        div {
            @include page-cont-xl();
        }
    }
    .meetTheTeamContainer {
        section {
            @include page-cont-xl();
        }
    }
}