@import "_variables.scss";

//index.js  
.pageContent {
    width: 100%;
    padding: 0;
    margin: 0;
    .headerContainer {
        width: 100%;
        height: 80vh;
        padding-top: 15vh;
        text-align: center;
        display: flex;
        section {
            @include page-cont-xx();
            height: 50%;
            margin: auto;
            h1 {
                @include main_font(36px, 600, $white);
                margin-bottom: 10px;
            }
            h4 {
                padding: 0;
                margin-bottom: 24px;
                @include main_font(22px, 500, $white);
            }
            h2 {
                @include main_font(24px, 600, $white);
            }
            a {
                @include button_style_inverted();
                font-size: 16px;
                padding: 8px 18px;
                margin: 5%;
                width: auto;
            }
            p {
                @include main_font(12px, 500, $white);
                padding: 0;
                margin: 15px 2% 2% 2%;
                width: auto;
            }
        }
    }
    .indexAbout {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        background-color: $darkpurple;
        h3 {
            @include page-cont-xx();
            text-align: center;
            color: $lightgrey;
            margin: 0 auto;
            line-height: 1.5;
            padding: 15% 5% 25% 5%;
            span {
                border-bottom: 1px solid $white;
            }
        }
    }
    .whatWeOffer {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0 auto;
        position: relative;
        @include background(url('../assets/bgwwo.jpg'), 1500% auto, top, no-repeat, rgb(156, 156, 156));
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $darkpurple;
            opacity: .5;
        }
        section {
            @include page-cont-xx();
            padding-top: 5%;
            padding-bottom: 5%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 35% 1fr 20%;
            align-content: stretch;
            div {
                display: grid;
                justify-content: center;
                background-color: $lightgrey;
                height: auto;
                width: auto;
                margin: 1%;
                margin-bottom: 5%;
                padding: 1%;
                z-index: 5;
                div {
                    display: block;
                    div {
                        min-height: 50px;
                        margin: 10% 5%;
                        padding: 1%;
                        vertical-align: middle;
                        align-self: start;
                        h2 {
                            @include main_font(22px, 600, $midgrey);
                            text-align: center;
                            margin: 0;
                            padding: 0;                        
                        }
                    }
                    svg {
                        @include border-radius(50%);
                        align-self: start;
                        width: 60%;
                        height: auto;
                        margin: 0% 20%;
                        text-align: center;
                        padding: 20%;
                        color: $midgrey;
                        background-color: $white;
                    }
                }
                p {
                    @include main_font(12px, 500, $midgrey);
                    width: 80%;
                    margin: 10%;
                    padding: 7% 0%;
                    text-align: center;
                    align-self: center;
                }
                a {
                    @include main_font(14px, 600, $midgrey);
                    @include button_style_wwo();
                    align-self: end;
                    width: 80%;
                    margin: 0 10% 10% 10%;
                    padding: 2% 0;
                    text-align: center;
                }
            }
        }
    }
    .googleReviews {
        background-color: $darkpurple;
        width: 100%;
        height: auto;
        padding: 8% 0;
        display: block;
        .sliderContainer {
            @include page_container(80%, 0); //have to manually adjust this 
            padding: 0;
            div {
                .slick-arrow .slick-next{
                    color: $white;
                    background-color: transparent;
                    background: transparent;
                    &:before {
                        color: transparent;
                        background-color: transparent;
                        background: transparent;
                    }
                }
                .slick-list {
                    .slick-track {
                        .slick-slide {
                            h2 {
                                @include main_font(24px, 500, $white);
                                text-align: center;
                                margin-bottom: 5px;
                            }
                            h3 {
                                @include main_font(18px, 500, $white);
                                text-align: center;
                                margin-bottom: 5px;
                            }
                            div {
                                text-align: center;
                                margin-bottom: 10px;
                                svg {
                                    color: $white;
                                }
                            }
                            p {
                                @include main_font(12px, 500, $white);
                                text-align: center;
                                width: 80%;
                                margin: 0 auto;
                                padding-bottom: 2%;
                            }
                        }
                    }
                }
                .slick-dots {
                    li {
                        button {
                            width: 15px;
                            height: 15px;
                            border: 2px $white solid;
                            border-radius: 50px;
                            background-color: transparent;
                            &:before {
                                display: none;
                            }
                        }
                    }
                    .slick-active {
                        button {
                            background-color: $white;
                        }
                    }
                    color: $white;
                }
            }
        }
        a {
            @include main_font(14px, 500, $white);
            @include button_style_custom(transparent, $white, $white, $darkpurple, 2px $white solid, 2px $white solid); //$bgColorBefore, $bgColorAfter, $colorBefore, $colorAfter, $borderBefore, $borderAfter
            display: block;
            max-width: 45%;
            height: auto;
            margin: 50px auto auto auto;
            padding: 5px;
            text-align: center;
            border-radius: 50px;
        }
    }
}

@mixin content--xs() {
    .pageContent {
        .whatWeOffer {
            @include background(url('../assets/bgwwo.jpg'), 550% auto, top, no-repeat, rgb(156, 156, 156));
            &:before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: $darkpurple;
                opacity: .5;
            }
            section {
                @include page-cont-xs();
            }
        }
        .googleReviews {
            .sliderContainer {
                @include page-cont-xs();
            }
        }
    }
}

@mixin content--md() {
    .pageContent {
        .headerContainer {
            width: 100%;
            height: 75vh;
            padding-top: 0vh;
            text-align: center;
            display: flex;
            section {
                @include page-cont-md();
                height: 50%;
                margin: auto;
                h1 {
                    @include main_font(42px, 600, $white);
                }
                h2 {
                    @include main_font(24px, 600, $white);
                }
                a {
                    @include button_style_inverted();
                    font-size: 16px;
                    padding: 8px 18px;
                    margin: 5%;
                    width: auto;
                }
                p {
                    @include main_font(12px, 500, $white);
                    padding: 0;
                    margin: 15px 2% 2% 2%;
                    width: auto;
                }
            }
        }
        .indexAbout {
            h3 {
                @include page-cont-md();
            }
        }
        .whatWeOffer {
            @include background(url('../assets/bgwwo.jpg'), 350% auto, top, no-repeat, rgb(156, 156, 156));
            section {
                @include page-cont-md();
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: auto;
            }
        }
        .googleReviews {
            .sliderContainer {
                @include page-cont-md();
            }
        }
    }
}

@mixin content--lg(){
    .pageContent {
        .indexAbout {
            h3 {
                @include page-cont-lg();
            }
        }
        .whatWeOffer {
            @include background(url('../assets/bgwwo.jpg'), 350% auto, top, no-repeat, rgb(156, 156, 156));
            section {
                @include page-cont-lg();
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                grid-template-rows: auto;
            }
        }
        .googleReviews {
            background-color: $darkpurple;
            width: 100%;
            height: auto;
            padding: 7% 0;
            display: block;
            .sliderContainer {
                @include page_container(70%, 0); //have to manually adjust this 
                div {
                    .slick-list {
                        .slick-track {
                            .slick-slide {
                                h2 {
                                    @include main_font(24px, 500, $white);
                                    text-align: center;
                                    margin-bottom: 5px;
                                }
                                h3 {
                                    @include main_font(18px, 500, $white);
                                    text-align: center;
                                    margin-bottom: 5px;
                                }
                                div {
                                    text-align: center;
                                    margin-bottom: 10px;
                                    svg {
                                        color: $white;
                                    }
                                }
                                p {
                                    @include main_font(14px, 500, $white);
                                    text-align: center;
                                    width: 60%;
                                    margin: 0 auto;
                                    padding-bottom: 2%;
                                }
                            }
                        }
                    }
                    .slick-dots {
                        li {
                            button {
                                width: 5px;
                                height: 5px;
                                border: 2px $white solid;
                                border-radius: 50px;
                                background-color: transparent;
                                &:before {
                                    display: none;
                                }
                            }
                        }
                        .slick-active {
                            button {
                                background-color: $white;
                            }
                        }
                        color: $white;
                    }
                }
            }
            a {
                @include main_font(14px, 500, $white);
                @include button_style_custom(transparent, $white, $white, $darkpurple, 2px $white solid, 2px $white solid); //$bgColorBefore, $bgColorAfter, $colorBefore, $colorAfter, $borderBefore, $borderAfter
                max-width: 20%;
                height: auto;
                margin: 50px auto auto auto;
                padding: 5px;
                text-align: center;
                border-radius: 50px;
            }
        }
    }
}
@mixin content-xl(){
    .pageContent {
        .indexAbout {
            h3 {
                @include page-cont-xl();
            }
        }
        .whatWeOffer {
            @include background(url('../assets/bgwwo.jpg'), 350% auto, top, no-repeat, rgb(156, 156, 156));
            section {
                @include page-cont-xl();
            }
        }
        .googleReviews {
            .sliderContainer {
                @include page-cont-xl();
            }
        }
    }
}