@import "_variables.scss";

.pageContentTemplate {
    width: 100%;
    padding: 0;
    margin: 0;
    .headerContainer {
        width: 100%;
        height: 25vh;
        padding-top: 15px;
        text-align: center;
        display: flex;
        section {
            width: 75%;
            height: 50%;
            margin: auto;
            h1 {
                @include main_font(36px, 600, $white);
            }
            h2 {
                @include main_font(24px, 600, $white);
            }
            a {
                @include button_style_inverted();
                font-size: 16px;
                padding: 8px 18px;
                margin: 5%;
                width: auto;
            }
            p {
                @include main_font(12px, 500, $white);
                padding: 0;
                margin: 15px 2% 2% 2%;
                width: auto;
            }
        }
    }
    .indexAbout {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        background-color: $darkpurple;
        h3 {
            width: 75%;
            text-align: center;
            color: $lightgrey;
            margin: 0 auto;
            padding: 20% 5%;
        }
    }
    // What We Offer page
    .whatWeOffer {
        width: 100%;
        height: auto;
        padding: 10%;
        margin: 10% auto;
        position: relative;
        @include background(url('../assets/bgwwo.png'), 1500% auto, top, no-repeat, rgb(156, 156, 156));
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $darkpurple;
            opacity: .5;
        }
        section {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto;
            div {
                display: grid;
                justify-self: center;
                align-self: stretch;
                justify-content: center;
                align-content: center;
                background-color: $lightgrey;
                height: auto;
                width: auto;
                margin: 1%;
                margin-bottom: 5%;
                padding: 1%;
                z-index: 5;
                h2 {
                    @include main_font(42px, 600, $midgrey);
                    text-align: center;
                    height: 125px;
                    margin: 10% 10% 0% 10%;
                    padding: 1%;
                }
                svg {
                    width: 70%;
                    height: auto;
                    margin: 0% 15%;
                    text-align: center;
                    padding: 20%;
                    color: $midgrey;
                    background-color: $white;
                    @include border-radius(50%);
                }
                p {
                    @include main_font(24px, 500, $midgrey);
                    width: 80%;
                    margin: 10%;
                    padding: 7% 0%;
                    text-align: center;
                    border-top: 2px solid $midgrey;
                    border-bottom: 2px solid $midgrey;
                }
                a {
                    width: 80%;
                    margin: 5% 10% 10% 10%;
                    padding: 5% 0;
                    text-align: center;
                    @include main_font(28px, 600, $midgrey);
                    @include button_style_wwo();
                }
            }
        }
    }
    // Pricing page
    .priceGuide {
        background-color: $darkpurple;
        padding: 5% 0 10% 0;
        .priceGuideContainer {
            background-color: green;
            @include page-cont-xs();
        }
        .priceGuideRow {
            display: grid;
            grid-template-columns: 1.75fr 1fr 1fr 1fr;
            grid-auto-rows: 1fr;
            justify-content: center;
            align-content: stretch;
            $priceGuideMargin: 10%;
            div {
                align-self: center;
                border-right: 2px solid $darkgrey;
                margin: 4% 0;
                padding: 2% 0 2% 0;
                min-height: 75px;
            }
            div:nth-child(1) {
                margin: 4% 0 4% 10%;
                h2 {
                    @include main_font(24px, 500, $darkgrey);
                    margin-right: 10%;
                    margin-bottom: 0;
                    text-align: left;
                    width: auto;
                }
                p {
                    @include main_font(14px, 500, $darkgrey);
                    margin-bottom: 10%;
                    margin-right: 10%;
                    a {
                        color: $mediumpurple;
                    }
                }
            }
            div:nth-child(2) {
                h3 {
                    @include main_font(24px, 500, $mediumpurple);
                    height: auto;
                    width: auto;
                    margin: 0 auto;
                    text-align: center;
                }
            }
            div:nth-child(3) {
                h4 {
                    @include main_font(24px, 500, $darkgrey);
                    height: auto;
                    width: auto;
                    margin: 0 auto;
                    text-align: center;text-align: center;
                }
            }
            div:nth-child(4) {
                border: none;
                display: flex;
                justify-content: center;
                vertical-align: center;
                a {
                    @include main_font(16px, 600, $darkpurple);
                    @include button_style_custom(transparent, $darkpurple, $darkpurple, $white, 2px $darkpurple solid, 2px $darkpurple solid);
                    padding: 2% 6%;
                    margin-right: 5%;
                    text-align: center;
                }
                
            }
        }
        .priceGuideRow:nth-of-type(1) {
            div {
                align-self: center;
                padding: 7% 0;
            }
        }
        .priceGuideRow:nth-of-type(2) {
            div {
                align-self: center;
                padding: 7% 0;
            }
        }
        .priceGuideRow:nth-of-type(odd){
            background-color: $white;
        }
        .priceGuideRow:nth-of-type(even){
            background-color: $lightgrey;
        }
    }
    // About Page
    .aboutContainer {
        background-color: $darkpurple;
        margin: 0;
        padding: 2% 0 1% 0;
        div {
            @include page-cont-xs();
            background-color: $white;
            display: block;
            div {
                width: 100%;
                height: 350px;
                overflow: hidden;
                margin: 0;
                padding: 0;
                img {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                }
            }
            p {
                @include main_font(16px, 500, $darkgrey);
                padding: 3% 5%;
            }
        }
        
    }
    .aboutHeaderContainer {
        background-color: $darkpurple;
    }
    .meetTheTeamContainer {
        background-color: $darkpurple;
        padding: 0 0 5% 0;
        section {
            @include page-cont-xs();
            background-color: $white;
            .meetTheTeamGridContainer { //whole grid container
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
                align-content: stretch;
                .teamMemberOne { // one row
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr;
                    align-content: stretch;
                    margin: 0;
                    padding: 0;
                    div:nth-of-type(1) { // individual boxes
                        align-self: stretch;
                        margin: 0;
                        padding: 0;
                        overflow: hidden;
                        position: relative;
                        height: 400px;
                        width: auto;
                        img {
                            width: 100%;
                            height: auto;
                            margin: 0;
                            padding: 0;
                        }
                    }
                    div:nth-of-type(2){
                        padding: 5% 5% 15% 5%;
                        display: block;
                        margin: auto;
                        h2 {
                            @include main_font(26px, 600, $darkgrey);
                            margin: 0 0 2% 0;
                        }
                        h3 {
                            @include main_font(20px, 500, $mediumpurple);
                            margin: 0 0 3% 0;
                        }
                        p {
                            @include main_font(16px, 500, $darkgrey);
                            margin: 0 0 3% 0;
                        }
                    }
                }
                .teamMemberTwo { // one row
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr;
                    align-content: stretch;
                    margin: 0;
                    padding: 0;
                    div:nth-of-type(2) { // individual boxes
                        align-self: stretch;
                        margin: 0;
                        padding: 0;
                        overflow: hidden;
                        position: relative;
                        height: 400px;
                        width: auto;
                        img {
                            width: 100%;
                            height: auto;
                            margin: 0;
                            padding: 0;
                        }
                    }
                    div:nth-of-type(1){
                        padding: 5% 5% 15% 5%;
                        display: block;
                        margin: auto;
                        h2 {
                            @include main_font(26px, 600, $darkgrey);
                            margin: 0 0 2% 0;
                        }
                        h3 {
                            @include main_font(20px, 500, $mediumpurple);
                            margin: 0 0 3% 0;
                        }
                        p {
                            @include main_font(16px, 500, $darkgrey);
                            margin: 0 0 3% 0;
                        }
                    }
                }
            }
        }
    }
    // Contact page
    .contactContainer {
        background-color: $darkpurple;
        padding: 5% 0;
        section {
            @include page-cont-xs();
            background-color: $white;
            div {
                padding: 3% 5%;
                margin: 0;
                overflow: hidden;
                .contactIntro {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: auto;
                    p {
                        @include main_font(26px, 500, $darkgrey);
                        margin: 0 auto;
                    }
                    div {
                        a {
                            @include main_font(14px, 500, $mediumpurple);
                            width: 100%;
                            float: left;
                        }
                        ul {
                            @include list_reset();
                            width: auto;
                            height: 50px;
                            float: left;
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;
                            grid-template-rows: 1fr;
                            li {
                                height: 50px;
                                width: 50px;
                                margin: 0;
                                a {
                                    width: 100%;
                                    height: 100%;
                                    color: $mediumpurple;
                                    svg {
                                        color: $mediumpurple;
                                    }
                                }
                            }
                        }
                    }
                }
                form {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: auto auto auto;
                    margin: 0;
                    align-content: center;
                    .olHoneyPot {
                        display: none;
                    }
                    div {
                        width: 100%;
                        div {
                            background-color: $white;
                            display: block;
                            border-bottom: 1px solid $darkgrey;
                            label {
                                @include main_font(20px, 500, $mediumpurple);
                                float: left;
                                width: 100%;
                            }
                            input {
                                @include main_font(20px, 500, $darkgrey);
                                background-color: transparent;
                                border: none;
                                float: left;
                                width: 100%;
                            }
                            input::placeholder {
                                @include main_font(20px, 500, $darkgrey);
                                background-color: transparent;
                            }
                            input:focus {
                                outline: 0px;
                                color: $darkpurple;
                                &::placeholder {
                                    color: $white;
                                }
                            }
                            input:focus .contactFormName {
                                background-color: green;
                            }
                        }
                    }
                    .contactFormName {
                    }
                    .contactFormEmail {
                    }
                    .contactFormTextArea {
                    }
                    .contactFormSubmit {
                    }
                    
                }
            }
        }
    }
}