@import "_variables.scss";

.pageContentTemplate {
    width: 100%;
    padding: 0;
    margin: 0;
    .headerContainer {
        width: 100%;
        height: 25vh;
        padding-top: 15px;
        text-align: center;
        display: flex;
        section {
            width: 75%;
            height: 50%;
            margin: auto;
            h1 {
                @include main_font(36px, 600, $white);
            }
            h2 {
                @include main_font(24px, 600, $white);
            }
            a {
                @include button_style_inverted();
                font-size: 16px;
                padding: 8px 18px;
                margin: 5%;
                width: auto;
            }
            p {
                @include main_font(12px, 500, $white);
                padding: 0;
                margin: 15px 2% 2% 2%;
                width: auto;
            }
        }
    }
    .indexAbout {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        background-color: $darkpurple;
        h3 {
            width: 75%;
            text-align: center;
            color: $lightgrey;
            margin: 0 auto;
            padding: 20% 5%;
        }
    }
    // What We Offer page
    .whatWeOffer {
        width: 100%;
        height: auto;
        padding: 10%;
        margin: 10% auto;
        position: relative;
        @include background(url('../assets/bgwwo.png'), 1500% auto, top, no-repeat, rgb(156, 156, 156));
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $darkpurple;
            opacity: .5;
        }
        section {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto;
            div {
                display: grid;
                justify-self: center;
                align-self: stretch;
                justify-content: center;
                align-content: center;
                background-color: $lightgrey;
                height: auto;
                width: auto;
                margin: 1%;
                margin-bottom: 5%;
                padding: 1%;
                z-index: 5;
                h2 {
                    @include main_font(42px, 600, $midgrey);
                    text-align: center;
                    height: 125px;
                    margin: 10% 10% 0% 10%;
                    padding: 1%;
                }
                svg {
                    width: 70%;
                    height: auto;
                    margin: 0% 15%;
                    text-align: center;
                    padding: 20%;
                    color: $midgrey;
                    background-color: $white;
                    @include border-radius(50%);
                }
                p {
                    @include main_font(24px, 500, $midgrey);
                    width: 80%;
                    margin: 10%;
                    padding: 7% 0%;
                    text-align: center;
                    border-top: 2px solid $midgrey;
                    border-bottom: 2px solid $midgrey;
                }
                a {
                    width: 80%;
                    margin: 5% 10% 10% 10%;
                    padding: 5% 0;
                    text-align: center;
                    @include main_font(28px, 600, $midgrey);
                    @include button_style_wwo();
                }
            }
        }
    }
    // Pricing page
    .priceGuide {
        background-color: $darkpurple;
        padding: 5% 0 10% 0;
        .priceGuideContainer {
            background-color: green;
            @include page_container(80%, 0);
        }
        .priceGuideRow {
            display: grid;
            grid-template-columns: 1.75fr 1fr 1fr 1fr;
            grid-auto-rows: 1fr;
            justify-content: center;
            align-content: stretch;
            $priceGuideMargin: 10%;
            div {
                align-self: center;
                border-right: 2px solid $darkgrey;
                margin: 4% 0;
                padding: 2% 0 2% 0;
                min-height: 75px;
            }
            div:nth-child(1) {
                margin: 4% 0 4% 10%;
                h2 {
                    @include main_font(24px, 500, $darkgrey);
                    margin-right: 10%;
                    margin-bottom: 0;
                    text-align: left;
                    width: auto;
                }
                p {
                    @include main_font(14px, 500, $darkgrey);
                    margin-bottom: 10%;
                    margin-right: 10%;
                    a {
                        color: $mediumpurple;
                    }
                }
            }
            div:nth-child(2) {
                h3 {
                    @include main_font(24px, 500, $mediumpurple);
                    height: auto;
                    width: auto;
                    margin: 0 auto;
                    text-align: center;
                }
            }
            div:nth-child(3) {
                h4 {
                    @include main_font(24px, 500, $darkgrey);
                    height: auto;
                    width: auto;
                    margin: 0 auto;
                    text-align: center;text-align: center;
                }
            }
            div:nth-child(4) {
                border: none;
                display: flex;
                justify-content: center;
                vertical-align: center;
                a {
                    @include main_font(16px, 600, $darkpurple);
                    @include button_style_custom(transparent, $darkpurple, $darkpurple, $white, 2px $darkpurple solid, 2px $darkpurple solid);
                    padding: 2% 6%;
                    margin-right: 5%;
                    text-align: center;
                }
                
            }
        }
        .priceGuideRow:nth-of-type(1) {
            div {
                align-self: center;
                padding: 7% 0;
            }
        }
        .priceGuideRow:nth-of-type(2) {
            div {
                align-self: center;
                padding: 7% 0;
            }
        }
        .priceGuideRow:nth-of-type(odd){
            background-color: $white;
        }
        .priceGuideRow:nth-of-type(even){
            background-color: $lightgrey;
        }
    }
}