@import "_variables.scss";

.navbar {
    width: 100%;
    height: 100%;
    display: block;
    font-family: $main_font;
    .navContact {
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: block;
        margin: 0 auto;
        padding: 3% 2%;
        list-style-type: none;
        li {
            width: 100%;
            height: auto;
            margin: 0 auto;
            padding: 0;
            float: left;
            text-align: center;
            // white-space: nowrap;
            a {
                margin: auto 10%;
                text-decoration: none;
            }
        }
    
    }
    .topNav {
        width: 100%;
        height: 20vh;
        position: absolute;
        top: 30px;
        left: 0;
        display: block;
        .navContact {
            width: 100%;
            display: block;
            margin: 0;
            padding: 1% 2%;
            display: flex;
            list-style-type: none;
            li {
                width: auto;
                height: auto;
                margin: 0 auto;
                padding: 0;
                float: left;
                text-align: center;
                white-space: nowrap;
                a {
                    margin: auto 5%;
                    text-decoration: none;
                }
            }
           
        }
        img {
            width: 80%;
            max-height: 100%;
            display: block;
            margin: 12% 10%;
            padding: 0;
        }
    }
    .bottomNav {
        width: 100%;
        height: auto;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: $lightgrey;
        display: flex;
        flex-direction: column;
        z-index: 100;
        .navMenuList {
            width: 100%;
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: 20% 20% 20% 20% 20%;
            // grid-template-rows: 5% 50px 5%;
            order: 2;
            li {
                justify-self: center;
                align-self: center;
                text-align: center;
                padding: 0;
                margin: 0;
                display: block;
                height: 75px;
                a {
                    width: 100%;
                    height: 100%;
                    display: block;
                    @include main_font(13px, 500, $darkgrey);
                    margin: 0 auto;
                    padding: 4% 0;
                    svg {
                        width: 100%;
                        height: 25px;
                        color: $darkgrey;
                        margin: 5% 0 5% 0;
                        padding: 0;
                    }
                }
            }
            .activeClassName {
                background-color: $mediumpurple;
                color: $white;
                svg {
                    color: $white;
                }
                a {
                    color: $white;
                }
            }
        }
        .bookNowNav {
            @include main_font(16px, 600, $white);
            background-color: $mediumpurple;
            width: 100%;
            height: auto;
            text-align: center;
            margin: auto;
            padding: 3% 0;
            order: 1;
        }
    }
}
@mixin navbar--sm() {
    .navbar {
        @include page-cont-sm();
        .bottomNav {
            .bookNowNav {
                font-family: $main_font;
                background-color: $mediumpurple;
                width: 100%;
                height: auto;
                text-align: center;
                margin: auto;
                padding: 2% 0;
                order: 1;
            }
        }
    }
}
@mixin navbar--md() {
    .navbar {
        @include page-cont-md();
        height: auto;
        // margin: 0 10%;
        display: block;
        position: relative;
        .navContact {
            width: 80%;
            height: 50px;
            padding: 1%;
            margin: 0 auto;
            display: flex;
            margin: 0 auto;
            padding: 1% 2%;
            list-style-type: none;
            li {
                width: auto;
                height: auto;
                margin: 0 auto;
                padding: 0;
                float: left;
                text-align: center;
                white-space: nowrap;
                a {
                    margin: auto 10%;
                    text-decoration: none;
                }
            }        
        }
        .topNav {
        width: 30%;
        height: 150px;
        position: relative;
        float: left;
        display: block;
        padding: 0;
        background-color: transparent;
            a {
                width: auto;
                height: 100%;
                float: left;
                position: relative;
                img {
                    max-width: 100%;
                    height: 100%;
                    float: left;
                    margin: 0;
                    padding: 0;
                }
            }
            
        }
        .bottomNav {
            width: 70%;
            height: 150px;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            background-color: transparent;
            .navMenuList {
                width: 75%;
                list-style-type: none;
                padding: 0;
                margin: 0;
                float: right;
                display: flex;
                justify-content: flex-end;
                order: 1;
                height: auto;
                li {
                    padding: 3% 0;
                    margin: 0 2%;
                    height: auto;
                    display: block;
                    @include hover_trans(.25s);
                    a {
                        @include main_font(14px, 500, $white);
                        width: 100%;
                        height: auto;
                        display: block;
                        margin: 0;
                        padding: 0;
                        svg {
                            display: none;
                        }
                    }
                    &:hover {
                        @include hover_trans(.15s);
                        border-bottom: 1px solid $white;
                    }
                    .activeClassName {
                        background-color: transparent;
                        @at-root #{&} {
                            @include main_font(18px, 600, $white);
                        } 
                    }
                }
                li:nth-last-of-type(3) {
                    display: none;
                    a {
                        display: none;
                    }
                }
            }
            .bookNowNav {
                @include button_style();
                font-size: 16px;
                padding: 8px 18px;
                margin-left: 25px;
                width: auto;
            }
        }
    }
}
@mixin navbar-lg() {
    .navbar {
        @include page-cont-lg();
        height: auto;
        display: block;
        position: relative;
        .navContact {
            width: 80%;
            height: 50px;
            padding: 1%;
            margin: 0 auto;
            display: flex;
            margin: 0 auto;
            padding: 1% 2%;
            list-style-type: none;
            li {
                width: auto;
                height: auto;
                margin: 0 auto;
                padding: 0;
                float: left;
                text-align: center;
                white-space: nowrap;
                a {
                    margin: auto 10%;
                    text-decoration: none;
                }
            }
        
        }
        .topNav {
        width: 30%;
        height: 150px;
        position: relative;
        float: left;
        display: block;
        padding: 0;
        background-color: transparent;
            a {
                width: auto;
                height: 100%;
                float: left;
                position: relative;
                img {
                    max-width: 100%;
                    height: 100%;
                    float: left;
                    margin: 0;
                    padding: 0;
                }
            }
            
        }
        .bottomNav {
            width: 70%;
            height: 150px;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            background-color: transparent;
            .navMenuList {
                width: 75%;
                list-style-type: none;
                padding: 0;
                margin: 0;
                float: right;
                display: flex;
                justify-content: flex-end;
                order: 1;
                height: auto;
                li {
                    padding: 3% 0;
                    margin: 0 2%;
                    height: auto;
                    display: block;
                    a {
                        @include main_font(18px, 500, $white);
                        width: 100%;
                        height: auto;
                        display: block;
                        margin: 0;
                        padding: 0;
                        svg {
                            display: none;
                        }
                    }
                }
            }
            .bookNowNav {
                @include button_style();
                font-size: 16px;
                padding: 8px 18px;
                margin-left: 25px;
                width: auto;
            }
        }
    }
}
@mixin navbar-xl() {
    .navbar {
        @include page_container(70%, 0);
        height: auto;
        display: block;
        position: relative;
        .navContact {
            width: 60%;
            height: 50px;
            padding: 1%;
            margin: 0 auto;
            display: flex;
            margin: 0 auto;
            padding: 1% 2%;
            list-style-type: none;
            li {
                width: auto;
                height: auto;
                margin: 0 auto;
                padding: 0;
                float: left;
                text-align: center;
                white-space: nowrap;
                a {
                    margin: auto 10%;
                    text-decoration: none;
                }
            }
        
        }
        .topNav {
            width: 35%;
            height: 175px;
            position: relative;
            float: left;
            display: block;
            padding: 0;
            background-color: transparent;
            a {
                width: auto;
                height: 100%;
                float: left;
                position: relative;
                img {
                    width: 100%;
                    height: auto;
                    float: left;
                    margin: 0;
                    padding: 0;
                }
            }
            
        }
        .bottomNav {
            width: 65%;
            height: 175px;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            background-color: transparent;
            .navMenuList {
                width: 75%;
                list-style-type: none;
                padding: 0;
                margin: 0;
                float: right;
                display: flex;
                justify-content: flex-end;
                order: 1;
                height: auto;
                li {
                    padding: 3% 0;
                    margin: 0 2%;
                    height: auto;
                    display: block;
                    a {
                        @include main_font(18px, 500, $white);
                        width: 100%;
                        height: auto;
                        display: block;
                        margin: 0;
                        padding: 0;
                        svg {
                            display: none;
                        }
                    }
                }
                .navActive {
                    background-color: transparent;
                }
            }
            .bookNowNav {
                @include button_style();
                font-size: 16px;
                padding: 8px 18px;
                margin-left: 25px;
                width: auto;
            }
        }
    }
}