
@import "nav.scss";
@import "content.scss";
@import "_media-queries.scss";

body {
    background-color: $darkpurple;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}
a {
    text-decoration: none;
    color: $lightgrey;
}

