@import "nav.scss";
@import "content.scss";
@import "_media-queries.scss";

body {
    background: url('../assets/bg_img.jpg') center center no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    > div{
        background-image: radial-gradient(rgba(85, 59, 140, .8), rgba(27, 20, 50, .8));
        .headerContainer {
            background-image: linear-gradient(180deg, rgba(85, 59, 140, 0), rgba(27, 20, 50, 1));
        }
    }
}
a {
    text-decoration: none;
    color: $lightgrey;
}