
@import "nav.scss";
@import "_media-queries.scss";


$darkpurple: #1b1432;
$mediumpurple: #553B8C;
$white: #ffffff;
$darkgrey: #636566;
$lightgrey: #f6f6f6;

body {
    background-color: $darkpurple;
}
a {
    text-decoration: none;
    color: $lightgrey;
}
